#map{
    height: 100%;
}


/* general LEAFLET POPUP */

.leaflet-popup {
    opacity: 0.89 !important;
}

.leaflet-popup-content {
    margin: 3px 0px 0px !important;
}

.leaflet-popup-content p {
    margin: 0 !important;
    text-align: center;
}

/* general LEAFLET ZOOM */

.leaflet-control-zoom {
    top: 21px;
}


/* BASE POPUP */

.base-marker {
    border-radius: 5px;
    border: 3px solid;
    overflow: hidden;
}

.base-marker:has(.status-1) {
    background-color: #66CC00;
}

.base-marker:has(.status-2, .status-3, .status-4, .status-5) {
    background-color: #FFCC00;
}

.base-marker:has(.status-6) {
    background-color: #00FF00;
}

.base-marker:has(.status-7) {
    background-color: #FF0033;
}

.base-marker:has(.status-8) {
    background-color: #C0C0C0;
}

.base-marker:has(.status-9) {
    background-color: #FF0099;
}

.base-marker:has(.status-10) {
    background-color: #808080;
}

.base-marker:has(.status-) {
    background-color: var(--color-black);
    opacity: 0.21 !important;
}

.base-marker:has(.weather-) {
    border-color: var(--color-black);
}

.base-marker:has(.weather-0) {
    border-color: #CC0033;
}

.base-marker:has(.weather-1) {
    border-color: #FFFF00;
}

.base-marker:has(.weather-2) {
    border-color: #009933;
}

.base-marker p {
    margin: 0;
    text-align: center;
}

.base-marker .content-box {
    display: grid;
    grid-template-rows: 1fr 3fr;
    justify-items: stretch;
    align-items: center;
    height: 100%;
}

.base-marker .content-box .base-name {
    background-color: #FFFFFF;
    color: var(--color-black);
}

.base-marker .content-box .base-name p {
    font-size: var(--font-size-normal);
    font-weight: bold;
}

.base-marker .content-box .base-status {
    color: var(--color-white);
}

.base-marker .content-box .base-status p {
    font-size: var(--font-size-large);
    font-weight: bold;
}


/* HELIPAD MARKER */

.helipad-marker circle {
    fill: var(--color-action);
    stroke: #FFFFFF;
}

.helipad-marker text {
    fill: #FFFFFF;
    font-size: var(--font-size-extra-large);
}


/* HELIPAD POPUP */

.helipad-popup {
    width: 100px;
}

.helipad-popup .popup-header p {
    font-size: var(--font-size-large);
    font-weight: bold;
}

.helipad-popup .popup-content p {
    font-size: var(--font-size-normal);
    padding: 3px;
    padding-top: 0px;
}

/* DESTINATION MARKER */

.destination-popup .popup-header p {
    font-size: var(--font-size-semi-large);
    font-weight: bold;
}

.destination-popup .popup-content p {
    font-size: var(--font-size-normal);
    padding: 3px;
    padding-top: 0px;
}

.destination-popup .popup-content p.coords {
    font-style: italic;
}

/* LAST UPDATE TIME BANNER */

.last-update-banner {
    background: #FFFFFFAA;
    position: absolute;
    width: -webkit-fill-available;
    text-align: center;
    color: black;
    z-index: 1000;
    padding: 3px;
    font-size: var(--font-size-small);
}

.last-update-banner > #last-update {
    font-weight: bold;
}
