#map{
    height: 100%;
}


/* general LEAFLET POPUP */

.leaflet-popup {
    opacity: 0.89 !important;
}

.leaflet-popup-content {
    margin: 3px 0px 0px !important;
}

.leaflet-popup-content p {
    margin: 0 !important;
    text-align: center;
}

/* general LEAFLET ZOOM */

.leaflet-control-zoom {
    top: 21px;
}


/* BASE MARKER */

.base-marker {
    width: 100%;
    height: 100%;
    opacity: 0.89;
}

.base-marker .container {
    width: 100%;
    height: 100%;
    position: relative;
}

.base-marker .outer-box {
    width: 100%;
    height: 100%;

    padding: 2px;
    border: 3px solid;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.base-marker .inner-box {
    width: 100%;
    height: 100%;

    border-radius: 50%;
}

.base-marker .img-box {
    display: flex;
    justify-content: center; 
    align-items: center; 

    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.base-marker img {
    width: 100%;
    height: 100%;
}

.base-marker .badge {
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 96%;
    height: 28%;
    left: 3%;
    top: -20%;
}

.base-marker .badge > div {
    border: 1px solid;
    width: 50%;
    text-align: center;
    font-weight: bold;
    font-size: var(--font-size-normal);
}

.base-marker .badge > div:not(:first-of-type) {
    border-left: none;
}


.base-marker .hems-status- {
    background-color: #D0D0D080;
}

.base-marker .hems-status-1 {
    background-color: #66CC00;
}

.base-marker .hems-status-2, 
.base-marker .hems-status-3,
.base-marker .hems-status-4,
.base-marker .hems-status-5 {
    background-color: #FFCC00;
}

.base-marker .hems-status-6 {
    background-color: #00FF00;
}

.base-marker .hems-status-7 {
    background-color: #FF0033;
}

.base-marker .hems-status-8 {
    background-color: #C0C0C0;
}

.base-marker .hems-status-9 {
    background-color: #FF0099;
}

.base-marker .hems-status-10 {
    background-color: #808080;
}

.base-marker .hems-status-transport {
    background-color: #33CCFF;
}


.base-marker .weather-status- {
    border-color: #D0D0D080;
}

.base-marker .weather-status-0 {
    border-color: #CC0033;
}

.base-marker .weather-status-1 {
    border-color: #FFFF00;
}

.base-marker .weather-status-2 {
    border-color: #009933;
}


/* HELIPAD MARKER */

.helipad-marker circle {
    fill: var(--color-action);
    stroke: #FFFFFF;
}

.helipad-marker text {
    fill: #FFFFFF;
    font-size: var(--font-size-extra-large);
}


/* HELIPAD POPUP */

.helipad-popup {
    width: 100px;
}

.helipad-popup .popup-header p {
    font-size: var(--font-size-large);
    font-weight: bold;
}

.helipad-popup .popup-content p {
    font-size: var(--font-size-normal);
    padding: 3px;
    padding-top: 0px;
}

/* DESTINATION MARKER */

.destination-popup .popup-header p {
    font-size: var(--font-size-semi-large);
    font-weight: bold;
}

.destination-popup .popup-content p {
    font-size: var(--font-size-normal);
    padding: 3px;
    padding-top: 0px;
}

.destination-popup .popup-content p.coords {
    font-style: italic;
}

/* LAST UPDATE TIME BANNER */

.last-update-banner {
    background: #FFFFFFAA;
    position: absolute;
    width: -webkit-fill-available;
    text-align: center;
    color: black;
    z-index: 1000;
    padding: 3px;
    font-size: var(--font-size-small);
}

.last-update-banner > #last-update {
    font-weight: bold;
}
