@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --timer-box-height: 30px;

    --color-black: #222222;
    --color-dark-grey: #333333;
    --color-white: #DDDDDD;
    --color-link: #7777FF;

    --font-size-large: 2em;
    --font-size-normal: 0.8em
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

html, body {
    height: 100%;
  }

body {
    margin: 0;
}


h1 {
    text-align: center;
    font-size: var(--font-size-large);
}

a {
    color: var(--color-link);
    text-decoration: none;
}

p {
    font-size: var(--font-size-normal);
}


#container {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 2fr 21fr 1fr;
    grid-template-areas: 
      "header header"
      "main sidebar"
      "footer footer";

    height: 100%;
}


header, footer {
    justify-self: stretch;
    align-self: stretch;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background: var(--color-black);
    color: var(--color-white);
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

main {
    grid-area: main;
    justify-self: stretch;
    align-self: stretch;
}

aside {
    grid-area: sidebar;

    display: flex;
    flex-direction: column;

    padding: 5%;

    background: var(--color-dark-grey);
    color: var(--color-white);
}


#map{
    height: 100%;
}


.leaflet-popup-content {
    margin: 5px !important;
}

.leaflet-popup-content p {
    margin: 0 !important;
    text-align: center;
}


.status-ready p {
    color: green;
    font-weight: 700; 
}

.status-emergency p {
    color: orange;
    font-weight: 700; 
}

.status-suspended p {
    color: red;
    font-weight: 700; 
}

.status-transport p {
    color: blue;
    font-weight: 700; 
}

.status-closed {
    opacity: 0.9 !important;
}
.status-closed p{
    color: grey;
}


p.weather-status {
    color: black;
    font-weight: 300;
    font-size: 0.9em;
}

p.mission-type-desc {
    font-weight: 400;
}

.weather-status-red p.weather-status {
    color: red;
}

.weather-status-yellow p.weather-status {
    color: yellowgreen;
}

.weather-status-green p.weather-status {
    color: green;
}


img {
    height: 21px;
}

.aircraft-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    padding: 5px 0;
}
