#map{
    height: 100%;
}

.popup-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.popup-header p {
    padding-bottom: 3px;

    color: var(--color-black);
    font-size: var(--font-size-large);
}

.popup-header img {
    height: 18px;
}

.popup-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.popup-content p {
    font-size: var(--font-size-extra-large);
}

.leaflet-popup {
    opacity: 0.89 !important;
}

.leaflet-popup-content {
    margin: 0px !important;
    margin-top: 3px !important;
    /* width: 45px !important; */
}

.leaflet-popup-content p {
    margin: 0 !important;
    text-align: center;
}



.helipad-marker circle {
    fill: var(--color-action);
    stroke: #FFFFFF;
}

.helipad-marker text {
    fill: #FFFFFF;
    font-size: var(--font-size-extra-large);
}

.helipad-popup {
    width: 100px;
}

.helipad-popup .popup-header p {
    font-size: var(--font-size-large);
    font-weight: bold;
}

.helipad-popup .popup-content p {
    font-size: var(--font-size-normal);
    padding: 3px;
    padding-top: 0px;
}



.status-1 p, .status-6 p {
    color: green;
    font-weight: bold;
}

.leaflet-popup-content-wrapper:has(.status-1, .status-6) {
    border-top: solid 5px green;
}


.status-2 p, .status-3 p, .status-4 p, .status-5 p {
    color: rgb(253, 146, 58);
    font-weight: bold;
}

.leaflet-popup-content-wrapper:has(.status-2, .status-3, .status-4, .status-5) {
    border-top: solid 5px rgb(253, 146, 58);
}


.status-7 p {
    color: rgb(254, 31, 31);
    font-weight: bold;
}

.leaflet-popup-content-wrapper:has(.status-7) {
    border-top: solid 5px rgb(254, 31, 31);
}


.status-8 p {
    color: blue;
    font-weight: bold;
}

.leaflet-popup-content-wrapper:has(.status-8) {
    border-top: solid 5px blue;
}


.status-9 p {
    font-weight: bold;
}

.leaflet-popup-content-wrapper:has(.status-9) {
    border-top: solid 5px var(--color-black);
}


.status-10 p {
    font-weight: normal;
}

.leaflet-popup-content-wrapper:has(.status-10) {
    border-top: solid 3px var(--color-black);
}

.leaflet-popup:has(.status-) {
    opacity: 0.55 !important;
}
